[user]
	name = Bill D
	email = 355438+vegetabill@users.noreply.github.com 
[alias]
	st=status
        ci=commit
        co=checkout
[pager]
        less

[push]
	default = current
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[core]
	askpass = git-gui--askpass
	precomposeUnicode = true
[pull]
	rebase = true
