'.source.java':
  'debug print':
    'prefix': 'sout'
    'body': 'System.out.println(String.format("[DEBUG] %s => %s", "$1", $1));'
'.source.ruby':
  'debug puts':
    'prefix': 'p'
    'body': 'puts "[DEBUG] $1 => #{$1.inspect}"'
'.source.js':
  'console log':
    'prefix': 'con'
    'body': 'console.log(\'[DEBUG] $1: \' + $1);'
